.idea
local.properties
/pen-your-prayer.iml
taskArtifacts
wrapper
/ViewPageIndicator/build
gradlew.bat
/gradlew
/DaimajiaSlider/*.iml
/RTEditor-Toolbar/*.iml
/ViewPageIndicator/*.iml
/app/*.iml
/DaimajiaSlider-release/*.iml
/ViewPageIndicator-release/*.iml
/RTEditor-Toolbar-release/*.iml
/.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/*.bin
/.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/*.bin
/.gradle/2.10/tasks/_app_compileReleaseJavaWithJavac/localClassSetAnalysis/*.bin
/.gradle/2.10/tasks/_app_compileReleaseJavaWithJavac/localJarClasspathSnapshot/*.bin
/.gradle/2.10/tasks/_DaimajiaSlider_compileDebugJavaWithJavac/localClassSetAnalysis/*.bin
/.gradle/2.10/tasks/_DaimajiaSlider_compileDebugJavaWithJavac/localJarClasspathSnapshot/*.bin
/.gradle/2.10/tasks/_DaimajiaSlider_compileReleaseJavaWithJavac/localClassSetAnalysis/*.bin
/.gradle/2.10/tasks/_DaimajiaSlider_compileReleaseJavaWithJavac/localJarClasspathSnapshot/*.bin
/.gradle/2.10/tasks/_RTEditor-Toolbar_compileDebugJavaWithJavac/localClassSetAnalysis/*.bin
/.gradle/2.10/tasks/_RTEditor-Toolbar_compileDebugJavaWithJavac/localJarClasspathSnapshot/*.bin
/.gradle/2.10/tasks/_RTEditor-Toolbar_compileReleaseJavaWithJavac/localClassSetAnalysis/*.bin
/.gradle/2.10/tasks/_RTEditor-Toolbar_compileReleaseJavaWithJavac/localJarClasspathSnapshot/*.bin
/.gradle/2.10/tasks/_ViewPageIndicator_compileDebugJavaWithJavac/localClassSetAnalysis/*.bin
/.gradle/2.10/tasks/_ViewPageIndicator_compileDebugJavaWithJavac/localJarClasspathSnapshot/*.bin
/.gradle/2.10/tasks/_ViewPageIndicator_compileReleaseJavaWithJavac/localClassSetAnalysis/*.bin
/.gradle/2.10/tasks/_ViewPageIndicator_compileReleaseJavaWithJavac/localJarClasspathSnapshot/*.bin
/.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/*.lock
/.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/*.lock
/.gradle/2.10/tasks/_app_compileReleaseJavaWithJavac/localClassSetAnalysis/*.lock
/.gradle/2.10/tasks/_app_compileReleaseJavaWithJavac/localJarClasspathSnapshot/*.lock
/.gradle/2.10/tasks/_DaimajiaSlider_compileDebugJavaWithJavac/localClassSetAnalysis/*.lock
/.gradle/2.10/tasks/_DaimajiaSlider_compileDebugJavaWithJavac/localJarClasspathSnapshot/*.lock
/.gradle/2.10/tasks/_DaimajiaSlider_compileReleaseJavaWithJavac/localClassSetAnalysis/*.lock
/.gradle/2.10/tasks/_DaimajiaSlider_compileReleaseJavaWithJavac/localJarClasspathSnapshot/*.lock
/.gradle/2.10/tasks/_RTEditor-Toolbar_compileDebugJavaWithJavac/localClassSetAnalysis/*.lock
/.gradle/2.10/tasks/_RTEditor-Toolbar_compileDebugJavaWithJavac/localJarClasspathSnapshot/*.lock
/.gradle/2.10/tasks/_RTEditor-Toolbar_compileReleaseJavaWithJavac/localClassSetAnalysis/*.lock
/.gradle/2.10/tasks/_RTEditor-Toolbar_compileReleaseJavaWithJavac/localJarClasspathSnapshot/*.lock
/.gradle/2.10/tasks/_ViewPageIndicator_compileDebugJavaWithJavac/localClassSetAnalysis/*.lock
/.gradle/2.10/tasks/_ViewPageIndicator_compileDebugJavaWithJavac/localJarClasspathSnapshot/*.lock
/.gradle/2.10/tasks/_ViewPageIndicator_compileReleaseJavaWithJavac/localClassSetAnalysis/*.lock
/.gradle/2.10/tasks/_ViewPageIndicator_compileReleaseJavaWithJavac/localJarClasspathSnapshot/*.lock
