.idea
local.properties
/pen-your-prayer.iml
taskArtifacts
wrapper
/ViewPageIndicator/build
gradlew.bat
/gradlew
/DaimajiaSlider/*.iml
/RTEditor-Toolbar/*.iml
/ViewPageIndicator/*.iml
/app/*.iml
/DaimajiaSlider-release/*.iml
/ViewPageIndicator-release/*.iml
/RTEditor-Toolbar-release/*.iml
